!!!
%html
  %head
    %title nth Degree
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    
    
    .container
      .row
        
        %br
        %h1#main-title.title.text-center "nth Degree Issues Builder"
        %br
        
        #main
          =flash_messages

= yield